.DS_Store
.idea/
.npmrc
.pypirc
.venv/
__pycache__
cache/
icons/LICENSE
icons_sketches/
osm/
out/
python-package/roentgen/icons/
python-package/dist/
raster/
release/
roentgen.egg-info/
site/
uv.lock
work/
