# Copied by `hatch_build.py`.
roentgen/config.json
roentgen/shapes.json

.idea/
.npmrc
.pypirc
.venv/
.vscode/
__pycache__
cache/
dist/
icons/LICENSE
icons_all/
icons_sketches/
osm/
out/
python-package/roentgen/icons/
python-package/dist/
raster/
release/
roentgen.egg-info/
site/
uv.lock
work/
