name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  generation:
    name: Generate Icons
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
    - name: Install iconscript
      run: |
        cargo install iconscript@^0.3
    - name: Generate icons
      run: |
        python -m roentgen icons

  generation-windows:
    name: Generate Icons (Windows)
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
    - name: Install iconscript
      run: |
        cargo install iconscript@^0.3
    - name: Generate icons
      run: |
        python -m roentgen icons

  check:
    name: Static Analysis, Code Style, Linting
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.10
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[dev]
    - name: Check Code Style with Ruff
      run: |
        ruff format --check roentgen/
    - name: Lint with Ruff
      run: |
        ruff check roentgen/
    - name: Run tests
      run: |
        pytest tests/ -v
